# Python virtual environment
venv/
ENV/
env/
.venv/

# Pycache files
pycache/
*.py[cod]
*.pyo

# VS Code config files (агар VS Code истифода мекунед)
.vscode/

# dotenv env file
.env

# OS files
.DS_Store
Thumbs.db